<!DOCTYPE html>
<html>

<head>
  <title>Popup</title>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="/static/jquery-3.7.1.min.js"></script>
</head>

<body>
  <h1 id="videoUrl">Popup Content</h1>
  <button id="summarize">Summarize</button>
  <script src="../popup.js"></script>
  <script src="../background.js"></script>
  <script src="../content.js"></script>

  <p>{{message}}</p>

  <!-- <a href="index.html">click here for summary</a> -->
</body>
</html>